@{
    ViewData["Title"] = "Home Page DIB DevOps Demo CI Integration";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Hackfest!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
